{% extends 'dashboard/cashier_dashboard.html' %}

{% include 'scripts/messages.html' %}
{% include 'scripts/main_loader.html' %}

{% block content %}

<!-- indoc styling -->
<style>
    /* General Styles */
    body {
        background-color: #f8f9fa;
        font-family: 'Arial', sans-serif;
    }

    .badge {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .breadcrumb {
        background-color: white;
        border-radius: 30px;
    }

    .pagetitle {
        margin: 30px 20px;
    }

    #cardtable {
        margin: 20px;
        border-radius: 10px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }

    .nav-item {
        margin-right: 5px;
    }

    #tablehead {
        background-color: rgb(206, 96, 114);
        color: white;
    }

    label {
        font-weight: bold;
        color: #333;
    }

    .custom-select {
        border: 1px solid #bd4242;
        padding: 5px;
        border-radius: 10px;
        margin: 10px;
    }

    .btn {
        margin-top: 5px;
    }

    #filter {
        border-radius: 5px;
        background-color: rgb(206, 96, 114);
        color: white;
        height: 38px;
        margin-top: 7px;
    }

    .inputs {
        margin: 10px 5px;
        border: 1px solid #bd4242;
        padding: 5px;
        border-radius: 5px;
    }

    /* Table Styles */
    .table {
        background-color: white;
        border-radius: 10px;
        overflow: hidden;
        width: 100%; /* Ensure the table takes full width */
    }

    .table th, .table td {
        vertical-align: middle;
    }

    #sale-table tbody tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #sale-table tbody tr:hover {
        background-color: #e9ecef;
    }

    /* Pagination Styles */
    .pagination {
        justify-content: center;
        margin-top: 20px;
    }

    .pagination .page-item.active .page-link {
        background-color: rgb(206, 96, 114);
        border-color: rgb(206, 96, 114);
        color: white;
    }

    .pagination .page-link {
        border-radius: 5px;
        padding: 10px 15px;
        margin: 0 5px;
        color: rgb(206, 96, 114);
        border: 1px solid rgb(206, 96, 114);
    }

    .pagination .page-link:hover {
        background-color: rgb(206, 96, 114);
        color: white;
    }

    /* Modal Styles */
    .modal-content {
        border-radius: 10px;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    }

    .modal-header {
        border-bottom: 1px solid #dee2e6;
    }

    .modal-footer {
        border-top: 1px solid #dee2e6;
    }

    .modal-dialog-centered {
        margin-top: 100px;
    }
</style>
<!-- end styling -->

<!-- Page Title -->
<div class="pagetitle">
    <h1 class="h5 text-md font-weight-bold text-primary text-uppercase mb-1">Sales</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'auth_pos:cashier_dashboard' %}">Home</a></li>
            <li class="breadcrumb-item active"><a href="{% url 'pos:sale_list' %}">All Sales</a></li>
        </ol>
    </nav>
</div>
<!-- End Page Title -->

<section class="section profile">
    <div class="row">
        <div class="col-12">
            <div class="card border-left-success shadow h-100 py-2" id="cardtable">
                <div class=" card-body pt-3">
                    <!-- Bordered Tabs -->
                    <ul class="nav nav-tabs nav-tabs-bordered">
                        <li class="nav-item">
                            <a class ="nav-link active" href="{% url 'pos:sale_list' %}">Sales</a>
                        </li>
                        <li class="nav-item">
                            <!-- Topbar Search -->
                            <form method="get" class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search ">
                                <div class="input-group " id="navbarSearch">
                                    <input type="text" class="form-control bg-light  border-left-success shadow h-100 py-2 border-0 small" placeholder="Search Products..." aria-label="Search" name="search" aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-danger" type="submit">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </li>
                        <li class="nav-item">
                            <form method="get">
                                <label for="date_created">Filter by date:</label>
                                <input type="date" id="date_created" name="date_created" value="{{ date_created }}">
                                <label for="total_amount">Filter by total amount:</label>
                                <input type="number" id="total_amount" name="total_amount" value="{{ total_amount }}">
                                <button type="submit">Apply</button>
                            </form>
                        </li>
                    </ul>

                    <div class="tab-content pt-2">
                        <div class="tab-pane fade show active profile-overview  border-left-danger shadow h-100 py-2" id="products-overview">
                            <div class="card-body">
                                <table class="table table-borderless datatable table-active table-responsive table-responsive-sm" id="sale-table">
                                    <thead id="tablehead">
                                        <tr>
                                            <th scope="col"><i class="fas fa-hashtag  text-black-400"></i> ID</th>
                                            <th scope="col"><i class="fas fa-building text-black-400"></i> Date Created</th>
                                            <th scope="col"><i class="fa fa-cubes  text-black-400"></i> Products</th>
                                            <th scope="col"><i class="fa fa-id-card text-black-400"></i> Cashier</th>
                                            <th scope="col"><i class="fas fa-dollar-sign text-black-400"></i> Total Amount</th>
                                            <th scope="col"><i class="fas fa-eye text-black-400"></i> View</th>
                                        </tr>
                                    </thead>
                                    {% if sales %}
                                        <tbody>
                                            {% for sale in sales %}
                                                <tr>
                                                    <td>{{ sale.id }}</td>
                                                    <td>{{ sale.date_created }}</td>
                                                    <td>
                                                        <ul>
                                                            {% for sale_item in sale.saleitem_set.all %}
                                                                <li>{{ sale_item.product.name }} x {{ sale_item.quantity }} ({{ sale_item.price }})</li>
                                                            {% endfor %}
                                                        </ul>
                                                    </td>
                                                    <td>{{ sale.cashier.user }}</td>
                                                    <td>{{ sale.total_amount }}</td>
                                                    <td>
                                                        <a href="{% url 'pos:view_sale' sale.id %}" data-bs-toggle="modal" data-bs-target="#viewsale-{{ forloop.counter }}" class=" btn btn-info btn-circle btn-sm">
                                                            <i class="fas fa-eye" ></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>

                                    {% else %}
                                        <tbody>
                                            <tr>
                                                <td colspan="9" class="text-center">
                                                    No sales Found ! <b>You have to sell products for the sales to appear </b>
                                                </td>
                                            </tr>
                                        </tbody>
                                    {% endif %}
                                </table>

                                <nav aria-label="Page navigation example" class="mt-4">
                                    <div class="d-flex justify-content-center">
                                        <ul class ="pagination">
                                            {% if sales.has_previous %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ sales.previous_page_number }}&date_filter={{ date_filter }}&total_amount_filter={{ total_amount_filter }}&sale_item_filter={{ sale_item_filter }}&product_filter={{ product_filter }}&cashier_filter={{ cashier_filter }}&branch_filter={{ branch_filter }}">Previous</a>
                                            </li>
                                            {% endif %}
                                
                                            <li class="page-item disabled">
                                                <span class="page-link">Page {{ sales.number }} of {{ sales.paginator.num_pages }}</span>
                                            </li>
                                
                                            {% if sales.has_next %}
                                            <li class=" page-item">
                                                <a class="page-link" href="?page={{ sales.next_page_number }}&date_filter={{ date_filter }}&total_amount_filter={{ total_amount_filter }}&sale_item_filter={{ sale_item_filter }}&product_filter={{ product_filter }}&cashier_filter={{ cashier_filter }}&branch_filter={{ branch_filter }}">Next</a>
                                            </li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </nav>

                            </div>
                        </div>
                    </div>
                </div>
            </ div>
        </div>
    </div>
</section>

<!-- sale details details modal -->
{% for sale in sales %}
<div class="modal fade" id="viewsale-{{ forloop.counter }}" tabindex="-1" >
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" >
                <h5 class="modal-title">Sale {{ sale.id }}</h5>       
            </div>
            
            <div class="modal-body" >

                <table class="table table-borderless">
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Price</th>
                    </tr>
                    {% for sale_item in sale.saleitem_set.all %}
                    <tr>
                        <td>{{ sale_item.product.name }}</td>
                        <td>{{ sale_item.quantity }}</td>
                        <td>{{ sale_item.price }}</td>
                    </tr>
                    {% endfor %}
                </table>

            </div>
            <div class="modal-footer"  >
                <button type="button" class="btn btn-danger rounded-pill" data-bs-dismiss="modal">Close</button>
            </div>
        </div> 
    </div>
</div>
{% endfor %}
<!-- End sale details details modal -->

{% endblock %}