{% extends 'dashboard/admin_dashboard.html' %}
{% block content %}

{% include 'scripts/main_loader.html' %}
{% include 'scripts/messages.html' %}

<style>
    .pagetitle{
        margin-left: 20px;
    }
    .section{
        margin-left: 20px;
        
    }
    /* Optional: Adjust table cell padding for smaller screens */
@media (max-width: 768px) {
    .table th, .table td {
        padding: 0.5rem; /* Reduce padding for smaller screens */
        font-size:  0.9rem; /* Reduce font size for smaller screens */
    }
}

/* Optional: Hide certain columns on smaller screens */
@media (max-width: 768px) {
    .table th:nth-child(4), .table th:nth-child(5), .table th:nth-child(6), .table th:nth-child(7), .table th:nth-child(8) {
        display: none; /* Hide columns 4-8 on smaller screens */
    }
}

.table{

    flex: 1 1 auto;
}
  
</style>

<!-- Page Title -->
<div class="pagetitle">
    <h1 class="h5 text-md font-weight-bold text-primary text-uppercase mb-1">Products</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'auth_pos:admin_dashboard' %}"><i class="fas fa-home"></i>Home</a></li>
            <li class="breadcrumb-item active"><a href="{% url 'products:product_list' %}"><i class="fas fa-car"></i>All Products</a></li>
        </ol>
    </nav>
</div>
<!-- End Page Title -->

<!-- All Products List -->
<section class="section profile">
    <div class="row">
        <div class="col-12">
            <div class="card border-left-success shadow  py-2" id="cardtable">
                <div class="card-body pt-3">
                    <!-- Bordered Tabs -->
                    <ul class="nav nav-tabs nav-tabs-bordered">
                        <li class="nav-item">
                            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">
                                <a href="{% url 'products:product_list' %}">Products</a>
                            </button>
                        </li>
                        <li class="nav-item">
                            <!-- Topbar Search -->
                            <form method="get" class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                                <div class="input-group" id="navbarSearch">
                                    <input type="text" class="form-control bg-light border-left-success shadow h-100 py-2 border-0 small" placeholder="Search Products..." aria-label="Search" name="search" aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-danger" type="submit">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                    <select name="category" class="custom-select">
                                        <option value="">All categories</option>
                                        {% for category in categories %}
                                            <option value="{{ category.id }}" {% if category_query == category.id %}selected{% endif %}>{{ category.name }}</option>
                                        {% endfor %}
                                    </select>
                                    <button type="submit" id="filter">Filter</button>
                                </div>
                            </form>
                        </li>
                        <li class="nav-item">
                            <div>
                                <a href="#" data-bs-toggle="modal" id="addproductBtn" data-bs-target="#addproductModal" class="btn btn-primary btn-icon-split">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-plus"></i>
                                    </span>
                                    <span class="text">Product</span>
                                </a>
                                <a href="#" id="addbulkproductBtn" data-bs-toggle="modal" data-bs-target="#addbulkproductModal" class="btn btn-success btn-icon-split">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-upload fa-sm text-white-50"></i>
                                    </span>
                                    <span class="text">Upload Products</span>
                                </a>
                            </div>
                        </li>
                    </ul>

                    <div class="tab-content pt-2">
                        <div class="tab-pane fade show active profile-overview border-left-danger shadow  py-2" id="products-overview">
                            <div class="card-body">
                                <div class="table-responsive table-borderless table-hover table-striped">
                                    <table class="table table-hover" id="dataTable" width="100%" cellspacing="1">
                                        <thead id="tablehead">
                                            <tr>
                                                <th>ID</th>
                                                <th>Category</th>
                                                <th>Name</th>
                                                <th>Car Make</th>
                                                <th>Car Model</ th>
                                                <th>Quantity</th>
                                                <th>Price</th>
                                                <th>Branch</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        {% if products %}
                                        <tbody>
                                            {% for product in products %}
                                            <tr>
                                                <td>{{ product.id }}</td>
                                                <td>{{ product.category }}</td>
                                                <td>{{ product.name }}</td>
                                                <td>{{ product.make }}</td>
                                                <td>{{ product.model }}</td>
                                                <td id="pqty">
                                                    {% if product.quantity < 3 %}
                                                        <span class="badge badge-danger">{{ product.quantity }} Low Stock</span>
                                                    {% else %}
                                                        <span class="badge badge-success">{{ product.quantity }} In Stock</span>
                                                    {% endif %}
                                                </td>
                                                <td>{{ product.price }}</td>
                                                <td>{{ product.branch.name }}</td>
                                                <td>
                                                    <a href="{% url 'products:product_update' product.id %}" data-bs-toggle="modal" data-bs-target="#editproduct-{{ forloop.counter }}" class="btn btn-info btn-circle btn-sm">
                                                        <i class="fas fa-pen"></i>
                                                    </a>
                                                    |
                                                    <a href="{% url 'products:product_delete' product.id %}" data-bs-toggle="modal" data-bs-target="#deletep-{{ forloop.counter }}" class="btn btn-danger btn-circle btn-sm">
                                                        <i class="fas fa-trash"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                        {% else %}
                                        <tbody>
                                            <tr>
                                                <td colspan="9" class="text-center">
                                                    No Products Found Click the <b>+ product</b> button on the top to add a new product
                                                </td>
                                            </tr>
                                        </tbody>
                                        {% endif %}
                                    </table>
                                </div>

                                <nav aria-label="Page navigation example" class="mt-4">
                                    <ul class="pagination justify-content-end">
                                        {% if products.has_previous %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ products.previous_page_number }}&search={{ search }}">Previous</a>
                                        </li>
                                        {% endif %}
                                
                                        <li class="page-item disabled">
                                            <span class="page-link">Page {{ products.number }} of {{ products.paginator.num_pages }}</span>
                                        </li>
                                
                                        {% if products.has_next %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ products.next_page_number }}&search={{ search }}">Next</a>
                                        </li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End All Products List -->

<!-- Product Creation Modal -->
<div class="modal fade" id="addproductModal" tabindex="-1">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content border-left-primary shadow h-100 py-2">
            <div class="modal-header">
                <h4 class="modal-title "><span class="badge badge-warning">Add Product</span></h4>
                <button type="button" class="close" data-bs-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <!-- Product Creation Form -->
            <div class="modal-body">
                <form method="POST" action="{% url 'products:product_create' %}" id="createproduct">
                    {% csrf_token %}

                    <div class="form-group">
                        <label>Product Name</label>
                        <input type="text" class="form-control floating-input" name="name" required>
                    </div>

                    <div class="form-group">
                        <label>Product location</label>
                        <input type="text" class="form-control" name="location" required>
                    </div>

                    <div class="form-group">
                        <label>Car Make</label>
                        <input type="text" class="form-control" name="make" required>
                    </div>

                    <div class="form-group">
                        <label>Car Model</label>
                        <input type="text" class="form-control" name="model" required>
                    </div>

                    <div class="form-group">
                        <label>Product Price</label>
                        <input type="number" class="form-control floating-input" name='price' required>
                    </div>

                    <div class="form-group">
                        <label>Product Quantity</label>
                        <input type="number" class="form-control floating-input" name='quantity' required>
                    </div>

                    <div class="form-group">
                        <label for="category">Product categories</label>
                        <select name="category" id="category" class="custom-select" required>
                            {% for category in categories %}
                                <option value="{{ category.id }}">{{ category.name }}</option>
                            {% endfor %}
                        </select>
                        <div class="invalid-feedback">Choose category.</div>
                    </div>

                    <div class="form-group">
                        <label for="branch">Branch:</label>
                        <select name="branch" id="branch" class="custom-select">
                            {% for branch in branch %}
                                <option value="{{ branch.id }}"{% if product.branch.id == branch.id %} selected{% endif %}>{{ branch.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                <button class="btn btn-primary btn-user" type="submit" form="createproduct">Save product</button>
            </div>
        </div>
    </div>
</div>
<!-- End Product Creation Modal -->

<!-- Product Bulk Upload Modal -->
<div class="modal fade" id="addbulkproductModal" tabindex="-1">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content border-left-success shadow h-100 py-2">
            <div class="modal-header text-center">
                <h4 class="modal-title"><span class="badge badge-warning">Upload Products</span></h4>
            </div>
            <!-- Product Creation Form -->
            <div class="modal-body text-center">
                <form class="user" method="POST" action="{% url 'products:upload_products_csv' %}" enctype="multipart/form-data" id="csvform">
                    {% csrf_token %}
                    <div class="form-group row">
                        <div class="form-group">
                            <label>Products csv file (.csv)</label>
                            <input type="file" class="form-control floating-input" id="productcsvfile" placeholder="product csv file" name="csv_file" required>
                            <div class="invalid-feedback">CSV file is required.</div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer text-center">
                <button class="btn btn-primary btn-user" type="submit" form="csvform">Upload</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- End Product Bulk Upload Modal -->

<!-- Edit Product Modal -->
{% for product in products %}
<div id="editproduct-{{ forloop.counter }}" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content border-left-danger shadow h-100 py-2" id="editmodal">
            <form method="POST" action="{% url 'products:product_update' product.id %}" enctype="multipart/form-data" id="editproductsform">
                {% csrf_token %}
                <div class="modal-header">
                    <h4 class="modal-title "><span class="badge badge-success">Update <br><b>{{ product.name }}'s <br> Details</b></span></h4>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Product Name</label>
                        <input type="text" class="form-control floating-input" name="name" value="{{ product.name }}" required>
                        <input type="text" class="form-control" name="id" value="{{ product.id }}" hidden>
                    </div>

                    <div class="form-group">
                        <label>Product location</label>
                        <input type="text" class="form-control" name="location" value="{{ product.location }}" required>
                    </div>

                    <div class="form-group">
                        <label>Car Make</label>
                        <input type="text" class="form-control" name="make" value="{{ product.make }}" required>
                    </div>

                    <div class="form-group">
                        <label>Car Model</label>
                        <input type="text" class="form-control" name="model" value="{{ product.model }}" required>
                    </div>

                    <div class="form-group">
                        <label>Product Price</label>
                        <input type="number" class="form-control floating-input" name='price' value="{{ product.price }}" required>
                    </div>

                    <div class="form-group">
                        <label>Product Quantity</label>
                        <input type="number" class="form-control floating-input" name='quantity' value="{{ product.quantity }}" required>
                    </div>

                    <div class="form-group">
                        <label for="category">Product categories</label>
                        <select name="category" id="category" class="custom-select" required>
                            {% for category in categories %}
                                <option value="{{ category.id }}">{{ category.name }}</option>
                            {% endfor %}
                        </select>
                        <div class="invalid-feedback">Choose category.</div>
                    </div>

                    <div class="form-group">
                        <label for="branch">Branch:</label>
                        <select name="branch" id="branch" class="custom-select">
                            {% for branch in branch %}
                                <option value="{{ branch.id }}"{% if product.branch.id == branch.id %} selected{% endif %}>{{ branch.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
                <input type="submit" class="btn btn-success" form="editproductsform" value="Save">
            </div>
        </div>
    </div>
</div>
{% endfor %}
<!-- End Edit Product Modal -->

<!-- Delete Product Modal -->
{% for product in products %}
<div id="deletep-{{ forloop.counter }}" class="modal fade">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content border-left-danger shadow h-100 py-2">
            <form action="{% url 'products:product_delete' product.id %}" method="post" id="deleteform">
                {% csrf_token %}
                <div class="modal-header">
                    <h4 class="modal-title "><span class="badge badge-warning">Delete <br>{{ product.name }}</span></h4>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-hidden="false">&times;</button>
                </div>
                <div class="modal-body text-center">
                    <p>Are you sure you want to delete this product ?</p>
                    <p class="text-warning text-lg-center">This action cannot be undone.</p>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
                <input type="submit" class="btn btn-danger" value="Delete" form="deleteform">
            </div>
        </div>
    </div>
</div>
{% endfor %}
<!-- End Delete Product Modal -->

{% endblock content %}