
<div class="loader-overlay">
  <span class="loader"></span>
    <!-- Your loader content here -->
</div>


<style>
  .loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Darker background */
    display: none;
    z-index: 1000;
    justify-content: center; /* Center the loader */
    align-items: center; /* Center the loader */
  }
  .loader {
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    color: #fff;
  }
    .loader:before,
    .loader:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: inherit;
      height: inherit;
      border-radius: 50%;
      transform: rotateX(70deg);
      animation: 1s spin linear infinite;
    }
    .loader:after {
      color: #FF3D00;
      transform: rotateY(70deg);
      animation-delay: .4s;
    }

  @keyframes rotate {
    0% {
      transform: translate(-50%, -50%) rotateZ(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotateZ(360deg);
    }
  }

  @keyframes rotateccw {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(-360deg);
    }
  }

  @keyframes spin {
    0%,
    100% {
      box-shadow: .2em 0px 0 0px currentcolor;
    }
    12% {
      box-shadow: .2em .2em 0 0 currentcolor;
    }
    25% {
      box-shadow: 0 .2em 0 0px currentcolor;
    }
    37% {
      box-shadow: -.2em .2em 0 0 currentcolor;
    }
    50% {
      box-shadow: -.2em 0 0 0 currentcolor;
    }
    62% {
      box-shadow: -.2em -.2em 0 0 currentcolor;
    }
    75% {
      box-shadow: 0px -.2em 0 0 currentcolor;
    }
    87% {
      box-shadow: .2em -.2em 0 0 currentcolor;
    }
  }




</style>


<script>

  function showLoader() {
    document.querySelector('.loader-overlay').style.display = 'flex'; // Use flex to center
  }
  
  function hideLoader() {
    document.querySelector('.loader-overlay').style.display = 'none';
  }
  
  // Show the loader when the page loads
  document.addEventListener('DOMContentLoaded', function() {
    showLoader();
    setTimeout(hideLoader, 1000); // Simulate loading time
  });
  
  // Show the loader when a button is clicked
  document.querySelectorAll('button').forEach(button => {
    button.addEventListener('click', function() {
      showLoader();
      // Simulate an AJAX request
      setTimeout(hideLoader, 2000); // Adjust based on actual loading time
    });
  });
  
 


</script>